* {
	font-family: "Maven Pro", sans-serif;
}

body {
	background-color: rgba(0, 125, 255, 0.2);
}

.sidebar {
	width: 250px;
	height: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: rgba(0, 125, 255, 0.8);
}

.sidebar > ul {
	margin: 0;
	padding-left: 1rem;
	list-style-type: none;
}

.sidebar > ul > li {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	padding: 20px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 240px;
}

@media only screen and (max-width: 1000px) {
	.sidebar {
		visibility: hidden;
	}
	.container {
		margin-left: 0;
	}
}